.blog-section{
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #fbfbfb;
    position: relative;
    direction: rtl;
}
.blog-wrapper{
    width: 80%;
    /* height: 40px;  */
     /* background-color: red; */
    margin: 0px auto;
}

.blog-subtitle{
    color: #888;
    font-size: 16px;
}
.blog-title{
color: #003379;
font-size: 35px;
}
.blog-text{
font-size: #666;
}
.blog-box-wrpapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}